p {
    font-size: 1.05em;;
    margin: 0;
    height: max-content;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 80vh;

    h1 {
        font-size: 4em;
        text-align: center;
        line-height: 1.25em;
        margin-bottom: .25em;
        max-width: 800px;
    }

    p {
      font-size: 1.05em;
      text-align: center;
      margin-bottom: 2em;
      max-width: 600px;
    }

    button {
        background-color: #1EFFBC;
        border: 1px solid #1EFFBC;
        border-radius: 8px;
        color: #303030;
        width: 200px;
        height: 40px;
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease-out;

        &:hover {
            border: 1px solid #303030;
            background-color: #303030;
            color: #1EFFBC;
            cursor: pointer;
        }
    }
}

.miniPortfolio {
    display: flex;
    height: 300px;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
}

.pricing, .planIncludes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;

    .section {
        min-height: 100%;
        min-width: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        justify-content: center;
        gap: 1em;
        padding: 1.25em;
        margin: 20px 0px;

      .keyIssues {
        display: flex;
        height: 144px;
        flex-basis: calc(50% - 40px);
        justify-content: center;
        flex-direction: column;
        padding: 0.85em;
    }
}
}

.statement{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-top: 1px solid #0B3954;
    border-bottom: 1px solid #0B3954;

    p{
        font-size: 2.45em;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.25;
        width: 60%;
    }
}

.pricing {
    gap: 2em;
    
    h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 1.1;
        font-family: Helvetica, sans-serif;
    }
    .section {
        justify-content: flex-start;
        
        &:first-child{
            padding-bottom: 40px;
        }
    }
    
    .joinOptions{
        display: flex;
        flex-direction: column;
        background-color: #0B3954;
        border-radius: 8px;
        color: #fff;
        padding: 40px;

        h1{
            color: #FF6663;
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .minorOfferings {
            border: 1px solid #fff;
            border-radius: 8px;
            padding: 20px;
            display: flex;
            flex-direction: column;

            p {
                font-size: 1em;

                &:first-child{
                    font-size: 24px;
                    font-weight: 600;
                }

                &:nth-child(2){
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 16px;

                    span {
                        font-size: 14px;
                        margin-left: 4px;
                    }
                } 

                &:nth-child(3){
                    font-size: 15px;
                    line-height: 1.25;
                    max-width: 450px;
                }
            }

            a {
            text-decoration: none;
            display: flex;
            margin: 16px auto 0px;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 40px;
            border: 1px solid #fff;
            background-color: #fff;
            color: #0B3954;
            border-radius: 8px;
            transition: all .5s ease-out;

            &:hover{
                background-color: #0B3954;
                border: 1px solid #fff;
                color: white;
            }
        }
        }
    }

    .packagesBasic, .packagesPremium {
        display: flex;
        flex-direction: column;
        border: 1px solid #0B3954;
        border-radius: 8px;;
        padding: 30px;
        width: 100%;
        background-color: #fff;

        h2 {
            font-size: 24px;
            font-weight: 500;
            margin: 0px 0px 24px;
        }

        .pricingLabel {
            display: flex;
            align-items: center;
            font-size: 42px;
            font-weight: 600;
            span {
                margin-top: 8px;
                margin-left: 8px;
                font-size: 22px;
                padding-top: 2px;
                align-items: center;
                display: flex;

            }
        }

        .pricingDescription {
            font-size: 15px;
        }

        hr { 
            border: 1px solid #0B3954;
            margin: 48px 0px;
        }

        ul {
            flex-wrap: wrap;
            display: flex;
            gap: 20px;
            li {
                flex: 1 0 54%;
                margin-left: 0px;
            }
        }

        a {
            text-decoration: none;
            display: flex;
            margin: auto 0px 0px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            border: 1px solid #0B3954;
            background-color: #0B3954;
            color: #1EFFBC;
            border-radius: 8px;
            transition: all .5s ease-out;

            &:hover{
                background-color: #1EFFBC;
                border: 1px solid #1EFFBC;
                color: #0B3954;
            }
        }
    }

    .packagesBasic{
        background-color: #FF6663;
        border: 1px solid #FF6663;
        color: #fff;

        h2 {
            color: #0B3954;
        }

        hr {
            border: 1px solid #fff;
        }
    }

    .packagesPremium{
        background-color: #BFD7EA;
        border: 1px solid #BFD7EA;
        color: #0B3954;
    }
}

.planIncludes {
    display: flex;
    margin: 40px 0px 0px;
    background-color: #0B3954;
    color: #fff;
    padding: 40px;

    .moreInfo {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: 15px;
        text-transform: uppercase;

        hr {
            border: 1px solid #F7F8F1;
            height: 1px;
            background-color: #F7F8F1;
            padding: 0px;
            margin: 0px;
            width: 150px;
            margin-right: 16px;
        }
    }

      h2 {
            font-size: 36px;
            color: #FF6663;
            font-weight: 700;
            margin: 30px 0px 20px;
        }
}

.membershipBenefits {
  flex-wrap: wrap;
  display: flex;
    li {
      flex: 1 0 45%;
      margin-left: 8px;
      margin-bottom: 16px;

      p {
        &:first-child {
            font-size: 18px;
            font-weight: 700;
        }

        &:last-child {
            width: 85%;
        }
      }
    }
}