.navWrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 40px;

    img {
        max-width: 250px;
        min-width: 180px;
    }

    ul {
        display: flex;
        list-style: none;
        width: 400px;
        font-size: 1em;
        margin: 0px;
        padding: 0px;
        // gap: 60px;
        justify-content: space-evenly;

        li {
            font-weight: 600;
        }
    }

    button {
        background-color: #1EFFBC;
        border: 1px solid #F7F8F1;
        font-size: 1em;
        font-weight: 600;
        width: 200px;
        height: 40px;
        border-radius: 8px;
        transition: all 1s ease-out;

        &:hover {
            border: 1px solid #1EFFBC;
            background-color: #303030;
            color: #F7F8F1;
        }
    }
}

/* --- Mobile Styles --- */

.mobileLogo {
    max-width: 200px !important;
}

.mobileButton{
    width: 150px !important;
}